/* General */

#employee-title {
    font-size: 3.5em;
    margin-bottom: 10px;
}

/* Content form */

#employee-main-info {
    width: 70%;
}

#employee-main-info .subsection td:first-child {
    font-weight: bold;
    text-align: left;
    vertical-align: text-top;
    width: 40%;
}

#employee-main-info .type-info h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    border-bottom: 3px solid;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

#employee-main-info .odd {
    background: #eee;
}
