[buildout]
extends =
    http://svn.plone.org/svn/collective/buildout/plonetest/test-4.x.cfg
    http://good-py.appspot.com/release/dexterity/1.1

package-name = s17.person.employee
package-extras = [test]
test-eggs = Pillow

parts +=
    i18ndude
    omelette

extensions =
    mr.developer

always-checkout = force
auto-checkout = collective.person
sources = sources
versions = versions

[i18ndude]
recipe = zc.recipe.egg
eggs = i18ndude

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}

[sources]
collective.person = git https://github.com/collective/collective.person

[test]
defaults = ['-s', '${buildout:package-name}', '--auto-color', '--auto-progress']
